section#main_movie{
    height: 90vh;
    background-image:url("../images/breadcrumb_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



div#our_movie{
    /* background-color: black; */
    /* opacity: .4; */
}
#first_section{
    background-image: url("../images/movie_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    padding-bottom: 60px;

}
#second_section{
    background-image: url("../images/background_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    padding-bottom: 60px;

}

section > div{
    width: 80%;
    margin: auto;
}